@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    /* Colors */

    /* Primary */

    --Blue: hsl(246, 80%, 60%);

    --white: hsl(0, 0%, 100%);

    --Light-red: hsl(15, 100%, 70%);
    /* (work) */
    --Soft-blue: hsl(195, 74%, 62%);
    /* (play) */
    --pink: hsl(348, 100%, 68%);
    /* (study)*/
    --Lime-green: hsl(145, 58%, 55%);
    /*(exercise)*/
    --Violet: hsl(264, 64%, 52%);
    /* (social)*/
    --Soft-orange: hsl(43, 84%, 65%);
    /* (self care)*/

    /* Neutral */

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
    /* colors */
    --neutral-1: hsl(226, 43%, 10%);
    --neutral-2: hsl(235, 46%, 20%);
    --neutral-3: hsl(235, 45%, 61%);
    --neutral-4: hsl(236, 100%, 87%);

    --avatar: hsl(246, 80%, 60%);

    --orange: hsl(15, 100%, 70%);
    --cyan: hsl(195, 74%, 62%);
    --red: hsl(348, 100%, 68%);
    --green: hsl(145, 58%, 55%);
    --purple: hsl(264, 64%, 52%);
    --yellow: hsl(43, 84%, 65%);

    /* font family */

    --ff: "Rubik", sans-serif;

    /* font size */

    /* Fonts */
    --font-size-h1: clamp(2.4rem, 1.8366rem + 1.5023vw, 4rem);
    --font-size-time-window: 1.8rem;
    --font-size-activity-name: 1.8rem;
    --font-size-activity-result: clamp(3.2rem, 2.3549rem + 2.2535vw, 5.6rem);
    --font-size-activity-window: 1.5rem;

    --fs-18: 1.125rem;
    --fs-15: .938rem;
    --fs-24: 1.5rem;
    --fs-32: 2rem;

    /* Z-indexes */

    --z-index-top: 10;
    --z-index-middle: 5;
    --z-index-bottom: 1;

    /* Border Radius */

    --br: 1.125rem;

    /* font weight */

    --fw-normal: 400;
    --fw-tente: 300;
    --fw-bold: 500;

    /*  templating cards */

    --background: var(--neutral-2);


}



body {
    font-family: var(--ff);
    background-color: var(--neutral-1);
    color: var(--white);
    display: grid;
    place-items: center;
    min-height: 100vh;
    padding: 1rem;
}

.container {
    display: flex;
    flex-flow: wrap;
    gap: clamp(1rem, 3vw, 2rem);

}

.card {
    background-color: var(--neutral-2);
    border-radius: var(--br);
}

.card>div {
    background-color: var(--background);

}

.card--avatar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.card--avatar-top {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.1rem;
    --background: var(--avatar);
    border-radius: var(--br);
    padding: 2.2rem;
}

.avatar {
    border-radius: 50%;
    border: .2rem solid white;
    
}

h1 > span{
    font-size: var(--fs-15);
    font-weight: var(--fw-tente);
    color: var(--neutral-4);
}

h1 {
    font-size: var(--fs-24);
    font-weight: var(--fw-tente);
}

.card--avatar-bottom {
    --background: var(--neutral-2);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    padding: 1rem .5rem;
    border-radius: 0 0 var(--br) var(--br);
}

.btn {
    font: var(--fs-18);
    border-radius: var(--br);
    color: var(--neutral-3);
    font-weight: var(--fw-normal);
    flex: 1 1 100%;
    cursor: pointer;
    padding: .2rem .8rem;
    transition: 200ms;
}

.btn:hover {
    color: var(--white);
}